$base: 4px;

$radius-4: 4px;
$radius-8: 8px;

@mixin scale($scale) {
  transform: scale($scale);
}

@mixin margin($side, $mult) {
	margin-#{$side}: $mult * $base;
}

@mixin padding($side, $mult) {
	padding-#{$side}: $mult * $base;
}