{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "order/order": [
      "dollar-variables",
      "declarations",
      "at-rules",
      "at-variables",
      "rules",
      "custom-properties",
    ],
    "at-rule-no-unknown": [
      true, { "ignoreAtRules": ["extend", "mixin", "if", "else", "content", "include", "for"] }
    ],
    "no-empty-source": null,
    "color-no-hex": true
  }
 }