:root {
  --app-bg: #fff;
  --acc-header-bg: #f2f2f2;
  --acc-header-text: #383e41;
  --balance-positive: #6d9f39;
  --balance-negative: #e85f54;
  --color-primary: #295f9c;
  --color-primary-hover: #325277;
  --input-border: #dddfe7;
  --modal-bg: #fff;
  --modal-title: #6b6b6b;
  --modal-close-btn: #295f9c;
  --modal-overlay: rgba(0, 0, 0, 0.5);
  --sidebar-active: #295f9c;
  --sidebar-bg: #3d79b9;
  --sidebar-button-bg: rgba(170, 210, 255, 0.2);
  --sidebar-focus: #325277;
  --sidebar-text: #fff;
  --sidebar-tip: #cfd5f2;
  --select-selected-text: #295f9c;
  --text-default: rgba(96, 98, 102, 1);
}
