:root {
  --acc-header-bg: none;
  --acc-header-text: rgba(56, 62, 65, 1);
  --app-bg: rgb(255, 255, 255);
  --alert-bg: rgb(255 255 255);
  --alert-radius: 4px;
  --alert-border: rgb(216 222 228);
  --alert-shadow: 8px 16px 16px hsl(0deg 0% 0% / 20%);
  --auth-bg: rgba(50, 82, 119, 0.15);
  --auth-panel-bg: rgb(255 255 255);
  --auth-panel-radius: 8px;
  --auth-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  --balance-neg-bg: rgb(242 231 232);
  --balance-neg-text: rgb(179 93 91);
  --balance-pos-bg: rgb(232 242 238);
  --balance-pos-text: rgb(54 161 139);
  --balance-zero-bg: rgb(243 243 243);
  --balance-zero-text: rgb(125 133 141);
  --balance-pill-radius: 8px;
  --btn-radius: 6px;
  --btn-ghost-bg: transparent;
  --btn-ghost-text: rgb(61, 121, 185);
  --btn-ghost-focus-bg: rgba(50, 82, 119, 0.15);
  --btn-ghost-focus-text: rgba(50, 82, 119);
  --btn-primary-bg: rgb(61 121 185);
  --btn-primary-text: rgb(255 255 255);
  --btn-primary-focus-bg: rgba(50, 82, 119);
  --collapse-radius: 8px;
  --color-error: rgb(179 93 91);
  --color-success: rgb(54 161 139);
  --color-warning: rgb(200 157 88);
  --drawer-bg: rgb(255 255 255);
  --input-focus: rgb(61 121 185);
  --input-border: rgb(216 222 228);
  --input-text: rgb(105 105 105);
  --loading-bg: rgb(61 121 185);
  --modal-bg: rgb(255 255 255);
  --modal-title: rgb(105 105 105);
  --modal-overlay: rgba(0, 0, 0, 0.5);
  --month-header-bg: none;
  --month-header-btn-radius: 4px;
  --month-header-btn-focus-border: rgb(28 28 28);
  --month-header-text: rgb(28 28 28);
  --payee-bg: rgb(242, 236, 225);
  --payee-text: rgb(200 157 88);
  --picker-selected-bg: rgb(61 121 185);
  --picker-selected-text: rgb(255 255 255);
  --picker-hover-text: rgb(61 121 185);
  --progress-bg: rgb(216 222 228);
  --progress-red: rgb(179 93 91);
  --progress-blue: rgb(61 121 185);
  --progress-green: rgb(54 161 139);
  --row-focus-bg: rgb(249 249 249);
  --row-separator: rgb(216 222 228);
  --select-selected-option: rgb(61 121 185);
  --select-hover-bg: rgba(50, 82, 119, 0.15);
  --transaction-sep-color: rgb(216 222 228);
  --sidebar-active: rgb(33 91 152);
  --sidebar-bg: rgb(61 121 185);
  --sidebar-button-bg: rgba(170, 210, 255, 0.2);
  --sidebar-focus: rgba(50, 82, 119);
  --sidebar-text: rgba(255, 255, 255, 1);
  --sidebar-tip: rgba(226, 236, 247, 1);
  --text-primary: rgb(28 28 28);
  --text-secondary: rgb(105 105 105);
  --transaction-sep-icon: rgb(105 105 105);
  --transaction-payee-bg: rgb(242 236 225);
  --transaction-payee-text: rgb(200 157 88);
  --font-title1: 1.8125rem;
  --font-title2: 1.5rem;
  --font-body1: 1rem;
  --font-body2: 1.14rem;
  --font-caption: 0.875rem;
  --tip-info: rgb(105 105 105);
  --tip-error: rgb(179 93 91);
}
