:root {
  --app-error: #b35d5b;
  --app-success: #36a18b;
  --app-white: rgba(255, 255, 255, 1);
  --app-bg: var(--app-white);
  --app-blue-light: rgba(226, 236, 247, 1);
  --app-gray-light: rgba(242, 242, 242, 1);
  --app-gray-medium: rgba(180, 180, 180, 1);
  --acc-header-bg: var(--app-gray-light);
  --acc-header-text: rgba(56, 62, 65, 1);
  --acc-header-sep: rgba(164, 164, 164, 1);
  --acc-toolbar-border: var(--app-gray-light);
  --balance-positive: var(--app-success);
  --balance-negative: var(--app-error);
  --balance-zero: var(--app-gray-medium);
  --drawer-bg: var(--app-white);
  --month-header-tbb-text: var(--app-white);
  --month-header-text: rgba(56, 62, 65, 1);
  --month-header-bg: var(--app-gray-light);
  --color-error: var(--app-error);
  --color-info: rgba(130, 130, 130, 1);
  --color-disabled: rgba(180, 180, 180, 1);
  --color-success: var(--app-success);
  --color-warning: rgba(255, 194, 23, 1);
  --color-primary: rgba(61, 121, 185, 1);
  --color-primary-hover: rgba(50, 82, 119, 1);
  --color-primary-hover-bg: rgba(50, 82, 119, 0.15);
  --input-border: rgba(221, 223, 231, 1);
  --input-focus: rgb(64, 158, 255);
  --loading: var(--color-primary);
  --modal-bg: rgba(255, 255, 255, 1);
  --modal-title: rgba(107, 107, 107, 1);
  --modal-close-btn: var(--color-primary);
  --modal-overlay: rgba(0, 0, 0, 0.5);
  --radius-4: 4px;
  --shadow-12: 0 2px 12px 0 rgb(0 0 0 / 10%);
  --sidebar-active: rgb(33 91 152);
  --sidebar-bg: var(--color-primary);
  --sidebar-button-bg: rgba(170, 210, 255, 0.2);
  --sidebar-focus: var(--color-primary-hover);
  --sidebar-text: rgba(255, 255, 255, 1);
  --sidebar-tip: var(--app-blue-light);
  --select-selected-text: var(--color-primary);
  --table-heading: var(--month-header-bg);
  --table-separator: var(--table-heading);
  --table-focus: var(--app-blue-light);
  --text-default: rgba(51, 51, 51, 1);
  --text-negative: var(--app-white);
}
