/* icon font path, required */
$--font-path: '~element-plus/lib/theme-chalk/fonts';

@import '~element-plus/packages/theme-chalk/src/base.scss';

/* Overrides el-collapse */
.el-collapse {
  border: 0 !important;
}

.el-collapse-item__header {
  flex-flow: row-reverse;
  background: transparent !important;
  border: 0 !important;
  color: var(--sidebar-text);
}

.el-collapse-item__wrap {
  border: 0 !important;
  background: transparent !important;
}

.el-collapse-item__content {
  background: transparent !important;
  padding-bottom: $base * 3 !important;
}

/* Overrides el-form-item */
.el-form-item {
  margin-bottom: 0;
}

.el-form--label-top .el-form-item__label {
  font-size: 0.9rem;
  line-height: 1.25rem;
  padding: 0;

  margin-bottom: $base * 2;

  &::before {
    content: '';
  }
}

.el-form-item__error {
  position: relative;
}

/* Overrides el-input */
.el-input__inner {
  @extend %body-1;
}

.error .el-input__inner {
  border: 1px solid var(--color-error);
}

/* Overrides el-date-picker */
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100% !important;
}

/* Overrides el-select */
.el-select-dropdown__item.selected {
  color: var(--color-primary) !important;
}
